# General
.DS_Store
*.log

# Bazel
/bazel-*
/bazel-bin
/bazel-out
/bazel-testlogs

# Python
__pycache__/
.pytest_cache/
*.pyc

# Node.js
node_modules/
package-lock.json
npm-debug.log

# Go
/examples/**/vendor/

# Editors
.idea/
.vscode/
