# General
.DS_Store
*.log

# Bazel
/bazel-*
/bazel-bin
/bazel-out
/bazel-testlogs
e2e/*/bazel-*
e2e/*/MODULE.bazel.lock

# Python
__pycache__/
.pytest_cache/
*.pyc

# Node.js
node_modules/
**/node_modules/
npm-debug.log

# Go
/examples/**/vendor/

# Editors
.idea/
.vscode/
